/** ============================ start besmillah ================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ! this the header css */
.header {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 2% 2% 2% 13%;

}

.title {
    width: 60%;
    color: rgb(32, 55, 46);
}

.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 40%;
    gap: 6%;
}

.navbarbtn {
    background-color: rgb(36, 91, 71);
    color: white;
    padding: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.our-courses{
    position: relative;
    cursor: pointer;
}
.courses{
    position: absolute;
    top: 50px;
    left: -50px;
    width: 170px;
    color: rgb(105, 105, 105);
    background-color: white;
    list-style: none;
    line-height: 2rem;
    padding: 10%;
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 3px 0.5px ;
    display: none;
}
.list-items:hover{
    background-color:rgba(27, 59, 27, 0.777) ;
    color: white;
    padding: 0% 15%;
    border-radius: 3px;
    cursor: pointer;
}
.display{
    display: block;
}

/* ! this is the main */
.main {
    background-color: rgba(239, 238, 230, 0.784);
    padding: 4% 13% 5% 13%;
}

.parag1 {
    color: rgb(65, 103, 80);
    font-weight: 550;
    font-size: 10px;
}

.parag2 {
    color: rgb(42, 66, 52);
    font-weight: 550;
    font-size: 2.3rem;
    width: 38%;
    margin: 2% 0%;
}

.parag3 {
    color: gray;
    width: 53%;
}

.second-Section {
    display: flex;
    gap: 3.5%;
    margin-top: 4%;
}

.information-div {
    background-color: rgb(222, 226, 213);
    width: 40%;
    padding: 2.5%;
    border-radius: 10px;
    height: 495px;
}


.parag4 {
    color: rgb(65, 103, 80);
    font-weight: 550;
    font-size: 11px;
}

.parag5 {
    color: rgb(42, 66, 52);
    font-weight: 550;
    font-size: 1.2rem;
    /* width: 38%; */
    margin: 2.5% 0% 0% 0%;
}

.parag6 {
    color: rgb(42, 66, 52);
    font-weight: 550;
    font-size: 1.2rem;
    /* width: 38%; */
    margin-bottom: 5%;
}

.parag7 {
    color: rgb(42, 66, 52);
    font-weight: 600;
    font-size: 14px;
    margin: 2% 0%;
}

.parag8 {
    color: gray;
    font-size: 12px;
    font-weight: 500;
}

.border {
    border-bottom: 1px solid gray;
    margin-top: 6%;
}

.parag13 {
    background-color: white;
    color: rgb(26, 57, 26);
    padding: 3%;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 10%;
}

/* todo form */
.form {
    background-color: white;
    width: 60%;
    padding: 2.5%;
    border-radius: 10px;
    line-height: 1.6rem;
    position: relative;
}

.form-title {
    color: rgb(26, 57, 26);
    font-weight: 550;
    font-size: 1.2rem;
}

.form-para-1 {
    color: gray;
}

.form-input-title {
    color: rgb(42, 66, 52);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.input-1 {
    padding: 2%;
    border-radius: 5px;
    border: 0.5px solid gray;
    width: 100%;
}

.input-select {
    padding: 2%;
    border-radius: 5px;
    border: 0.5px solid gray;
    width: 100%;
    height: 43px;
}
.input-select:focus{
    outline: rgb(76, 122, 54) solid 2px;
}
.first-select-container {
    display: flex;
    gap: 2%;
}

.first-slects {
    width: 100%;
    margin-top: 20px;
}

.form-btn {
    background-color: rgb(36, 91, 71);
    color: white;
    padding: 2% 3%;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin: 2% 0%;

}

.form-last-para {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: 100%;
    color: gray;
    font-size: 12px;
}

.div-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 3.5%;
    border-radius: 10px;
    line-height: 1.5rem;
    display: none;
}
.checkMarck{
    background-color: rgb(232, 243, 231);
    border-radius: 55px;
    width: fit-content;
    padding: 2%;
}
.check-style{
    color:rgb(39, 101, 99) ;
    font-size: 20px;
    
}
.checkbox:focus{
    outline: rgb(45, 101, 127) 3px solid;
}
.readyPlan{
    color: rgb(35, 57, 49);
    font-size: 1.7rem;
    font-weight: 550;
    margin: 2.5% 0%;
}
.student-info{
    background-color:rgb(237, 235, 222) ;
    border-radius: 12px;
    border: 1px solid rgb(220, 216, 190);
    padding: 3%;
    margin-top: 2%;
}
.begener{
    background-color: rgba(50, 130, 50, 0.196);
    color: rgb(8, 93, 8);
    font-weight: 600;
    font-size: 13px;
    width: fit-content;
    padding: 1% 3%;
    border-radius: 20px;
}
.javaScript{
        color: rgb(35, 57, 49);
        margin: 2% 0%;
}
.Info{
        color: rgb(35, 57, 49);
}
.Information{
    border-top: 0.5px rgba(185, 185, 185, 0.69) solid;
    display: flex;
    justify-content: space-between;
    padding: 1% 0%;
}
#editBTN{
    background-color:rgb(36, 91, 71) ;
    color: white;
    font-weight: 550;
    width: 100%;
    padding: 1.5%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
/* ! the footer */
footer {
    border-top: 0.5px solid rgb(209, 206, 206);
    padding: 2% 13%;
    background-color: rgba(239, 238, 230, 0.784);
}

footer p {
    color: gray;
    font-size: 12px;
}
/* !================================= */
/* ?  ============ tablet responsivity  */
/* !================================= */
@media (min-width: 481px) and (max-width: 1024px) {
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;

}
.title {
    width: 40%;
    color: rgb(32, 55, 46);
    font-weight: 550;
    font-size: 25px;
}

.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    gap: 6%;
}
.list-items:hover{
    background-color:rgba(27, 59, 27, 0.777) ;
    color: white;
    padding: 0% 15%;
    border-radius: 3px;
    cursor: pointer;
}
.parag2 {
    color: rgb(42, 66, 52);
    font-weight: 550;
    font-size: 2rem;
    width: 60%;
    margin: 2% 0%;
}
.parag3 {
    color: gray;
    width: 80%;
    font-size: 10px;
}
.main {
    background-color: rgba(239, 238, 230, 0.784);
    padding: 2%;
}
.parag13 {
    background-color: white;
    color: rgb(26, 57, 26);
    padding: 3%;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 3%;
}
.second-Section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 4%;
}
.information-div {
    background-color: rgb(222, 226, 213);
    width: 100%;
    padding: 2.5%;
    border-radius: 10px;
    height: 495px;
}
.form {
    background-color: white;
    width: 100%;
    padding: 2.5%;
    border-radius: 10px;
    line-height: 1.6rem;
    position: relative;
}
footer {
    border-top: 0.5px solid rgb(209, 206, 206);
    padding: 2%;
    background-color: rgba(239, 238, 230, 0.784);
    text-align: center;
}
}

/* *============================================== */
/* *============================================== */
/* !================================= */
/* ?  ============ phone responsivity  */
/* !================================= */
@media (min-width:320px) and (max-width:480px) {
    
        .header {
    display: block;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding:2%;

}
.navbarbtn {
    background-color: rgb(36, 91, 71);
    color: white;
    padding: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 2%;
}
.title {
    width: 100%;
    color: rgb(32, 55, 46);
    text-align: center;
    /* font-weight: 550; */
    /* font-size: 25px; */
}

.navbar {
    display: block;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    gap: 6%;
}
.our-courses{
    position: relative;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 100%;
    text-align: center;
}
.courses{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    color: rgb(105, 105, 105);
    background-color: none;
    list-style: none;
    line-height: 2rem;
    padding: 0%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px ;
    display: none;
}
.list-items:hover{
    background-color:rgba(27, 59, 27, 0.777) ;
    color: white;
    padding: 0% 1%;
    border-radius: 3px;
    cursor: pointer;
}
.parag2 {
    color: rgb(42, 66, 52);
    font-weight: 550;
    font-size: 1.8em;
    width: 90%;
    margin: 2% 0%;
}
.parag3 {
    color: gray;
    width: 80%;
    font-size: 10px;
}
.main {
    background-color: rgba(239, 238, 230, 0.784);
    padding: 2%;
}
.parag13 {
    background-color: white;
    color: rgb(26, 57, 26);
    padding: 3%;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 3%;
    /* width: 100%; */
}
.display{
    display: block;
    transition: 1s ease-in-out;
}
.second-Section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 4%;
}
.information-div {
    background-color: rgb(222, 226, 213);
    width: 100%;
    padding: 2.5%;
    border-radius: 10px;
    height: 410px;
}
.form {
    background-color: white;
    width: 100%;
    padding: 2.5%;
    border-radius: 10px;
    line-height: 1.5rem;
    position: relative;
}
.first-select-container {
    display: flex;
    flex-direction: column;
    /* line-height: 15px; */
    gap: 0%;
}
.form-input-title {
    color: rgb(42, 66, 52);
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;
}
#parag {
    color: gray;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2%;
}
.first-slects {
    width: 100%;
    margin-top: 0px;
}
footer {
    border-top: 0.5px solid rgb(209, 206, 206);
    padding: 2%;
    background-color: rgba(239, 238, 230, 0.784);
    text-align: center;
}
}
/* *============================================== */
/* *============================================== */
